
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>About Me</h1> 
      <div class="w3-left-align w3-padding-xxlarge">
        <p>Hi, I'm a simple sample of facebook chat boot :)</p>
                    <div class="fb-messengermessageus" 
                      messenger_app_id="1475940702418616" 
                      page_id="280225375746512"
                      color="white"
                      size="large" >
                    </div>   
      </div>
    </div>
  </div> 


